body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(21, 30, 108);
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  height: 4.6em;
}

header div {
  width: 20%;
}

header nav {
  width: 75%;
}

.logo img {
  height: 100px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
}

nav ul li a:hover {
  color: #ffd700;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(21, 30, 108);
  padding: 10px;
  z-index: 1;
  width: max-content;
}

nav ul li:hover .dropdown {
  display: block;
}

.dropdown-submenu {
  display: none;
  position: absolute;
  background-color: rgb(21, 30, 108);
  padding: 10px;
  top: 0;
  left: 100%;
  width: 100%;
}

.dropdown li:hover .dropdown-submenu {
  display: block;
}

#content {
  padding: 20px;
}

footer {
  background-color: rgb(21, 30, 108);
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 17em;
}

footer nav {
  display: flex;
  justify-content: space-between;
}

footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer nav ul li {
  position: relative;
}

footer nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
}

footer nav ul li a:hover {
  color: #ffd700;
}

footer p {
  margin-top: 11em;
}

.hero img {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  position: relative;
}

p a {
  text-decoration: none;
}

h5 {
  float: left;
  position: absolute;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
}

.contact-info section {
  flex: 0 0 50%;
  box-sizing: border-box;
  padding: 0 20px;
}

.contact-info section p {
  color: goldenrod;
}

.contact-form {
  margin-top: 3em;
}

input,
textarea {
  width: 20%;
}

.our-clients,
.our-partners {
  margin: 50px auto;
  text-align: center;
}

.our-clients h2,
.our-partners h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.client-logos,
.partner-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.client-logos img,
.partner img {
  max-width: 150px;
  max-height: 100px;
  flex: 1 0 calc(16.666% - 20px);
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
}

.partner p {
  margin-top: 10px;
  font-size: 1em;
  color: #555;
}

/* Media Queries for Responsiveness */

/* Tablets */
@media (max-width: 1023px){
  
  nav ul li a {
    padding-right: 5px;
  }
  header div{
    width: 30%;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  header div,
  header nav {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li a {
    padding: 10px;
  }

  footer nav {
    flex-direction: column;
    align-items: flex-start;
  }

  footer nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  footer p {
    margin-top: 20px;
  }

  .hero img {
    height: auto;
  }

  .contact-info section {
    flex: 0 0 100%;
    padding: 0;
  }

  input,
  textarea {
    width: 80%;
  }
}

/* Mobile Phones */
@media (max-width: 480px) {
  .logo img {
    height: 80px;
  }

  nav ul li a {
    padding: 8px;
  }

  footer nav ul li a {
    padding: 8px;
  }

  .our-clients h2,
  .our-partners h2 {
    font-size: 2em;
  }

  .client-logos img,
  .partner img {
    max-width: 100px;
    max-height: 70px;
  }

  footer p {
    margin-top: 10px;
  }
}
